* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #49468d;

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

h1 {
    color: #49468d;
    font-size: 30px;
}

h2 {
    color: #49468d;
}

img.lado {
    float: right;
}

a {
    color: #49468d;
}